*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
  line-height: 1;
  color: #2b272f;
  text-align: center;
}
@media (min-width: 650px) {
  h1,
h2,
h3 {
    text-align: left;
  }
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  text-transform: uppercase;
  color: #837d87;
  font-weight: 400;
  font-size: 1.2rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #2b272f;
  text-align: center;
}
@media (min-width: 650px) {
  p {
    text-align: left;
  }
}

a {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.container {
  width: min(90%, 1100px);
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: auto-fit(repeat(2, minmax(300px, 1fr)));
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.bg-color {
  background-color: #2d2640;
  color: #fff;
}
.bg-color * {
  color: inherit;
}

@media (min-width: 650px) {
  .r-reverse {
    flex-direction: row-reverse !important;
  }
}