*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

.container {
  width: min(90%, 1440px);
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 650px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
  }
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}
@media (min-width: 650px) {
  .col {
    align-items: flex-start;
    text-align: left;
  }
  .col + .col {
    margin-left: 5rem;
  }
}

.nav .container {
  display: flex;
  justify-content: space-between;
}
.nav .logo {
  height: 1.6rem;
}
.nav__list {
  display: flex;
}
.nav__list-item:not(:last-child) {
  margin-right: 1.6rem;
}

.sm-list {
  display: flex;
}

@media (min-width: 650px) {
  .header__img {
    order: 10;
    margin-left: 5rem;
  }
}
.header__data {
  margin-left: 0 !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}