/*NAV
---------------------------------------*/

.nav {

  padding: 4rem 0;

  .logo {
    margin-right: auto;
  }

  &__list {
    display: flex;
    justify-content: flex-end;

    &-item+&-item {
      margin-left: 2rem;
    }
  }

  &__link {
    color: $dark-grayish-violet;
    letter-spacing: .1rem;
    font-weight: 700;
    padding: 1.5rem 2rem;

    &:hover {
      color: $very-dark-violet;
    }

    &:active {
      background-color: $very-dark-violet;
      color: $white;
    }
  }
}




/*HEADER
---------------------------------------*/

.header {
  position: relative;
  background-color: $dark-violet;
  margin-bottom: 10rem;
  overflow: hidden;


  @media (min-width: 850px) {
    background: linear-gradient(180deg, $dark-violet 0%, $dark-violet 95%, rgba(255,255,  255,1) 95%);

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 40%;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-image: url(../images/bg-pattern-intro-left-desktop.svg);
      background-size: 12%;
      background-repeat: no-repeat;
    }
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 80%;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-image: url(../images/bg-pattern-intro-right-desktop.svg);
      background-size: 20%;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 950px) {
    background: linear-gradient(180deg, $dark-violet 0%, $dark-violet 85%, rgba(255,255,  255,1) 85%);
  }

  @media (min-width: 1050px) {
    background: linear-gradient(180deg, $dark-violet 0%, $dark-violet 75%, rgba(255,255,  255,1) 75%);
  }

  @media (min-width: 1200px) {
    background: linear-gradient(180deg, $dark-violet 0%, $dark-violet 65%, rgba(255,255,  255,1) 65%);
  }

  &__data {
    color: $white;
    width: min(90%, 1100px);
    margin: 0 auto;
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    &>* {
      color: inherit;
    }

    @media (min-width: 850px) {
      width: auto;
      margin: 0;
      margin-right: 5rem;
      align-items: flex-start;
      padding: 0;
    }
  }

  &__title {
    @media (min-width: 850px) {
      &::before {
        content: '';
        display: block;
        height: 1px;
        width: 35%;
        background-color: $dark-grayish-violet;
        margin-bottom: 5rem;
      }
    }
  }
}

.header .row {
  @media (min-width: 850px) {
    padding-top: 7rem;
  }
}

/*btn*/

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid $white;
  margin-top: 2rem;
  position: relative;
  z-index: 50;

  &:active {
    background-color: $white;
    color: $very-dark-violet;
    font-weight: 700;
  }
}

/*SEC-CONTENT
---------------------------------------*/

.sec-content {

  margin-bottom: 8rem;
  
  &__title {
    margin-bottom: 10rem;
    
    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 35%;
      background-color: $dark-grayish-violet;
      margin-bottom: 5rem;
    }
  }
}

/*card*/

.card {
  &__img {
    display: block;
    margin: 0 auto 3rem auto;

    @media (min-width: 850px) {
      margin: 0 auto 3rem 0;
    }
  }

  &__text {
    color: $dark-grayish-violet;
  }
}

/*THRD-CONTENT
---------------------------------------*/

.thrd-content {

  padding: 5rem;
  background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  margin-bottom: 8rem;

  .col+.col {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    margin-bottom: 0;
  }

  .btn {
    margin-top: 0;
  }
}

/*FOOTER
---------------------------------------*/

.footer {
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 4rem;

  .row.s-media {
    padding: 4rem 0;
    margin-bottom: 4rem;
    border-bottom: 1px solid $dark-grayish-violet;
  }

  &__title {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  &__list {

    &-item+&-item {
      margin-top: 1rem;
    }
  }

  &__link {
    color: $dark-violet;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}

/*sm-list*/

.sm-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__item+&__item {
    margin-left: 2rem;
  }
}

/*attribution*/

.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 4rem;

  a {
    color: $dark-violet;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}
